.forgot-password-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px;
  gap: 24px;
  width: 548px;
  height: 454px;
  background: #ffffff;
  border: 4px solid #dddddd;
  box-shadow: 8px 8px 0px #dddddd;
  border-radius: 8px;
  position: relative;
}

.forgot-password-box .title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  width: 100%; /* or 356px to match input */
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 356px;
  height: 56px;
  border: 1px solid #79747e;
  border-radius: 4px;
  padding: 4px 16px;
}

.input-email {
  width: 100%;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
}

.send-code-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 356px;
  height: 40px;
  background: #65558f;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.send-code-button .label-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: 0.1px;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 356px;
  height: 47px;
  background: none;
  border: none;
  cursor: pointer;
}

.back-button .label-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #65558f;
  letter-spacing: 0.1px;
}
